<div class="col-md-6">
  <div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Supply Chain
      </div>
      <div  ng-cloak class="panel-body">
          <!-- <div id="morris-donut-chart"></div>
          <a href="#" class="btn btn-default btn-block">View Details</a> -->
              <div ng-show="displaySCF" class="">

                <div class=" chart-div">
                    <div id="dual_x_div" style=""></div>
                </div>

                <div class="row">
                    <div class="small-box bg-blue mybox data-div-inner-scf">
                        <div class="inner">
                            <h4>EUR {{ outputdatatotal }} </h4>
                            <p>Total Discounted</p>
                        </div>

                    </div>
                    <div class="small-box bg-blue mybox data-div-inner-scf">
                        <div class="inner">
                            <h4>EUR {{ outputdatalast }} </h4>
                            <p>Invoices Paid Last Month</p>
                        </div>

                    </div>
                    <div class="small-box bg-blue mybox data-div-inner-scf">
                        <div class="inner">
                            <h4>EUR {{ outputdatapending }} </h4>
                            <p>Pending Payments (Future Exposure)</p>
                        </div>

                    </div>
                </div>

              </div>
              <input type="hidden" id="total_discounted" ng-model="outputdatatotal">
              <input type="hidden" id="last_month" ng-model="outputdatalast">
              <input type="hidden" id="pending_payments" ng-model="outputdatapending">
          </div>
      <!-- /.panel-body -->
  </div>
</div>
