
.chart-container {
	width:  100%;
	height: 100%;
	margin: 0 auto;
}

.pie-chart-container {
	width : 100%;
	height : 100%;
	float : left;
}

svg > g:last-child > g:last-child { pointer-events: none }
div.google-visualization-tooltip { pointer-events: none }